@import '_navigation';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: lightblue;
  min-height: 100vh;
  min-width: 72rem;
  margin: 0 -2px;

  .page {
    margin: 0 4rem;
    background-color: white;
    min-height: 90vh;
    font-size: 0.9rem;
  }

  .error-message { 
    color: red;
    margin: 0.5rem 0 0;
  }

  h1.auth-header {
    margin: 3rem 0 1rem;
  }

  form {
    &.auth-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      background-color: lightblue;
      min-width: 34rem;
      min-height: 20rem;
      padding: 2rem;

      label {
        text-align: left;
        font-weight: bold;
      }

      input {
        background-color: white;
        width: 100%;
        line-height: 1.65rem;
        padding-left: 0.5rem;
      }
    }
  }

  button {
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0 0.45rem;
    border: none; 

    &.auth {
      background-color: #44b53e;
      align-self: center;
      border: 1px solid;
      margin-top: 2rem;
      max-width: 12rem;
      width: 100%;
    }

    &.positive {
      color: white;
      background-color: green;
    }

    &.negative {
      color: white;
      background-color: red;
    }
  }
}