@import '_navigation';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: lightblue;
  min-height: 100vh;
  min-width: 72rem;
  margin: 0 -2px;

  .page {
    display: flex;
    background-color: white;
    justify-content: center;
    min-height: 90vh;
    min-width: 100%;
    font-size: 0.9rem;
  }

  .error-message { 
    color: red;
    margin: 0.5rem 0 0;
  }

  .auth-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    min-width: 30rem;

    .form-row {
      justify-content: center;
    }
    
    label {
      font-weight: bold;
      padding-left: 0.7rem;
    }

    input {
      padding-left: 0.7rem;
    }
  }

  button {
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0 0.45rem;
    border: none; 

    &.auth {
      background-color: #44b53e;
      align-self: center;
      border: 1px solid;
      margin-top: 2rem;
      max-width: 12rem;
      width: 100%;
    }

    &.positive {
      color: white;
      background-color: green;
    }

    &.negative {
      color: white;
      background-color: red;
    }
  }
}